
# credenciales para el API
credentials.js

*~
*.apk
*.keystore
# claves para compilar
compiler-cfg.sh

.DS_Store
node_modules
platforms
*.xcuserdatad

# res
resources/signing

# plugins folders
plugins/*/
