<div class="modal-header">
  <button type="button" class="close" data-ng-click="modalOptions.close()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
</div>
<div class="modal-body">
  <h2 class="modal-title" id="myModalLabel">{{modalOptions.headerText}}</h2>
  <h3>{{modalOptions.bodyText}}</h3>
  <h2 class="saldo-modal">{{modalOptions.saldo}}</h2>
</div>
<div class="modal-footer">
  <div ng-if="modalOptions.closeButton">
      <a href="tarjetas.html" class="btn btn-default btn-modal">Ir a lista de tarjetas</a>
  </div>
  <div ng-if="!modalOptions.closeButton">
      <button type="button" class="btn btn-danger" data-ng-click="modalOptions.close()">Cerrar</button>
  </div>
  <!-- <a href="tarjetas.html" class="btn btn-default btn-modal">Ir a lista de tarjetas</a> -->
</div>
