body{
  background-color: #F7F7F7;
  font-family: Gotham;
  font-weight: 300;
}

.navbar-ctengo{
  background-color: #EFF5F9;
  margin-bottom: 0px;
}
.navbar-ctengo .navbar-brand{
  float: right !important;
}

.navbar-ctengo .navbar-header{
  width: 100%;
}

.navbar-ctengo .navbar-toggle{
  display: block !important;
  border: none;
}
.navbar-ctengo .navbar-toggle .icon-bar{
  background-color: #959696;
}

.side-navbar-title{
  background-color: #EFF5F9;
  padding: 0px 20px;
}

.side-navbar-title .img-menu-ct{
  max-height: 50px;
}
.side-navbar-title .img-menu-muni{
  margin-top: 3px;
}
.navbar-ctengo .navbar-toggle{
  float: left;
  margin-left: 15px;
  margin-right: 0px;
}

.titulo-logo{
  color: #0A4C9B;
  display: table;
  border-top: 2px solid #0A4C9B;
  padding: 7px 5px;
  margin-top: 0px;
  margin-left: 15px;
  font-family: Gotham;
  font-weight: 500;
}

.escudo-menu{
  max-height: 75px;
}

.menu-list{
  background-color: #F7F7F7;
}

.about .menu-list{
  background-color: #EFF5F9;
  padding-top: 50px;
}

.menu-list-option{
  padding: 40px 10px;
}
.menu-list-option-link{
  color: #000;
  transition: all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
}
.menu-list-option-link:hover .menu-list-option{
  background-color: #959696;
  color: #000;
  transition: all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
}

.menu-list-option-title{
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 1.75em;
  font-family: Gotham;
  font-weight: 500;
}

.menu-list-option-info{
  font-family: Gotham;
  font-weight: 300;
  color: #6d6d6d;
}

/* About */
body.about{
  background-color: #EFF5F9;
  padding-bottom: 30px;
}
.about .navbar-ctengo{
  border: none;
}
.muni-about{
  margin: 0 auto;
  margin-top: 20px;
  max-height: 200px;
}

.about .text-about{
  margin-top: 10px;
}
.about .version-info{
  margin-top: 15px;
  background-color: #0A4C9B;
}
.about .version-info .text-version{
  font-size: 1.5em;
  color: #F7AC18;
  font-family: Gotham;
  font-weight: 300;
  text-align: left;
}
.about .version-info .version-number{
  text-align: right;
  font-size: 1.5em;
  color: #FFF;
  font-family: Gotham;
  font-weight: 500;
}

.about .about-muni{
  margin-top: 15px;
  color: #0A4C9B;
  font-size: 1.5em;
  font-family: Gotham;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.about .privacidad{
  margin-top: 15px;
  background-color: #F7AC18;
  color: #0A4C9B;
  font-size: 1.5em;
  font-family: Gotham;
  font-weight: 300;
  padding-top: 15px;
}

/* Agregar Tarjeta */

form{
  margin-top: 15px;
}

.captcha-img{
  margin: 0 auto;
  margin-bottom: 10px;
}

.btn-night{
  background-color: #0A4C9B;
  color: #FFF;
  margin-bottom: 30px;
  transition: all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
}

.btn-night:hover{
  background-color: #07356b;
  color: #FFF;
  transition: all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
}

input.form-control{
  border-color: #F7AC18;
  border-radius: 0;
  height: 50px;
  background-color: #F7F7F7;
  font-weight: 500;
  font-family: Gotham;
  font-style: italic;
}
input.form-control:hover, input.form-control:focus{
  border-color: #0A4C9B;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(10, 76, 155, 0.6);
}
.form-group label{
  font-family: Gotham;
  font-weight: 300;
  font-size: 1em;
  text-transform: lowercase;
  padding: 5px 15px;
  color: #959696;
}

.captcha-group{
  text-align: center;
}

.captcha-group .captcha-img{
  display: inline-block;
}

.captcha-group .actualizarIcon{
  margin-left: 5px;
}

/* Lista de Tarjetas */
.navbar-ctengo.tarjetas .navbar-header{
  height: 65px;
  margin-left: 0px;
}
.navbar-ctengo.tarjetas .navbar-toggle{
  margin-top: 15px;
}
.navbar-ctengo.tarjetas .navbar-brand{
  padding: 0 15px;
  margin-top: 5px;
}
.navbar-ctengo.tarjetas .logo-menu-texto{
  max-height: 55px;
}

.tarjetas-list{
  background-color: #F7F7F7;
}

.about .tarjetas-list{
  background-color: #EFF5F9;
}

.tarjetas-list-option{
  padding: 0;
  border-bottom: 1px solid #959696;
}
.tarjetas-list-option .grafico{
  padding: 0;
}
.tarjetas-list-option .grafico .grafico-interno{
  -webkit-box-shadow: 4px 0px 5px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: 4px 0px 5px -2px rgba(0,0,0,0.25);
  box-shadow: 4px 0px 5px -2px rgba(0,0,0,0.25);
}

.tarjetas-list-option .titulo-tarjeta{
  font-size: 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Gotham;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 5px;
}

.tarjetas-list-option .fecha-actualizacion,
.tarjetas-list-option .numero-tarjeta{
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #6d6d6d;
}
.tarjetas-list-option .numero-tarjeta{
  margin-bottom: 0px;
}
.tarjetas-list-option-info{
  font-family: Gotham;
  font-weight: 300;
}
.tarjeta-blank-space{
  height: 100px;
}
.add-card-button {
  position: fixed;
  z-index: 1001;
  bottom: 20px;
  right: 20px;
  background-image: url('../img/nueva-tarjeta.png');
  background-position: center;
  background-size: cover;
  width: 75px;
  height: 75px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow:  2px 3px 10px 1px rgba(0,0,0,0.25);
  -moz-box-shadow:  2px 3px 10px 1px rgba(0,0,0,0.25);
  box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.25);
}

.add-card-button:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/nueva-tarjeta.png');
  background-position: center;
  background-size: cover;
}

.saldoMayor{
  height: 20px;
  width: 20px;
  background-color: #F7F7F7;
  border-radius: 50%;
  background-image: url('../img/signo.png');
  background-size: cover;
  position: absolute;
  top: 5%;
  right: 15%;
}
.circle canvas{
  margin: 5px;
  display: block;
  width: 80% !important;
}
.circle p.saldo{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
  /*width: 100%;*/
  text-align: center;
  font-size: 1em;
  max-width: 75px;
  font-weight: 600;
  font-family: Gotham Rounded;
}
.circle p.saldo.bigger{
  left: 36%;
}
.botones{
  padding: 0;
}
.boton-borrar{
  color: #9b110a;
}
.boton-borrar:hover{
  color: #530905;
  cursor: pointer;
}
.boton-actualizar:hover{
  cursor: pointer;
}
.btn-default{
  background-color: #959696;
}
.modalEliminar{
  margin-top: 30px;
}

.boton-borrar, .boton-actualizar{
  vertical-align: -30px;
  font-size: 2em;
}

/* Tooltip text */
.boton-borrar .tooltiptext,
.boton-actualizar .tooltiptext{
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 0.7em;
    right: 105%;
    margin-top: 20px;
    /*top: 20px;*/
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.boton-borrar:hover .tooltiptext,
.boton-actualizar:hover .tooltiptext {
    visibility: hidden;
}

.boton-borrar, .boton-actualizar{
  margin-top: 10px;
  font-size: 1.5em;
}

/* Respuestas Agregar Tarjeta */

/* .modal-fullscreen */
.apiInfo{
  margin-top: 20px;
}

.apiInfo a{
  color: #FFF;
  text-decoration: underline;
}

.modal-fullscreen {
  background: #FFF;
  color: #FFF;
}

.modal-fullscreen.success {
  background: #0a9b59;
}
.modal-fullscreen.error {
  background: #9b110a;
}

.saldo-modal{
  font-size: 4em;
  font-family: Gotham Rounded;
  font-weight: 700;
  text-align: center;
}

.error .saldo-modal{
  font-size: 1.5em;
  font-family: Gotham;
  font-weight: 300;
  text-align: center;
}

.modal-fullscreen  .modal-header{
  border: none;
}

.modal-fullscreen  .modal-footer{
  text-align: center;
  border: none;
}

.modal-fullscreen .btn-modal{
  border-radius: 0;
  border: 2px solid #FFF;
  font-size: 1.5em;
  color: #FFF;
  background-color: transparent;
}

.modal-fullscreen .close{
  color: #FFF;
  font-size: 3em;
  opacity: 0.75;
}
.modal-fullscreen .close:hover{
  opacity: 1;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/*VERSION*/
.modal-fullscreen.version {
  background: #FFF;
  color: #000;
}

.modal-fullscreen.version .btn-modal{
  border-radius: 0;
  border: 2px solid #000;
  font-size: 1.5em;
  color: #000;
  background-color: transparent;
}

.modal-fullscreen.version .close{
  color: #000;
  font-size: 3em;
  opacity: 0.75;
}
/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

@media(min-width:375px){
  .saldoMayor{
    height: 25px;
    width: 25px;
    top: 5%;
    right: 15%;
  }
}
@media(min-width:576px){
  .circle p.saldo{
    font-size: 1.5em;
  }
}
@media(min-width:768px){
  .boton-borrar:hover .tooltiptext,
  .boton-actualizar:hover .tooltiptext {
      visibility: visible;
  }
  .saldoMayor{
    height: 40px;
    width: 40px;
    top: 10%;
    right: 15%;
  }
}
@media(min-width:992px){
.logo-act{
  max-height: 200px;
}
}
@media(min-width:1200px){

}


.error-sign{
    background-color: #ce5d5d;
    color: #FFF;
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
    margin-top: 15px;
    padding-top: 0px;
}
.error-sign p{
  margin-top: 10px;
}

/***** Inicio: Nav menu ******/

/* Corresponde a los links del menú de navegación*/
.nav.navmenu-nav a {
    text-transform: uppercase; /* Nos aseguramos que los links van a ser transformados a Uppercase. */
}

/***** Fin: Nav menu ******/

/***** Inicio: precarga.html ******/
/* Corresponde al contenedor del mapa de google */
#GMap {
    /*height: 500px;*/
}

/***** Fin: precarga.html ******/